.messageList {
	padding: 74px 0px;
	padding-bottom: 5px;

	&.flat {
		padding: 68px 0px;
	}
}

/* Mobile behvaiour */
@media only screen and (max-width: 600px) {
    .messageList {
		padding: 70px 0px;
		padding-bottom: 5px;

		&.flat {
			padding: 58px 0px;
		}
	}
}
