.messageCard {
	position: relative;
    overflow: hidden;
	transition: height 0.2s;
	transition-timing-function:  ease-in;
	margin-bottom: 5px;
	padding-bottom: 5px;
	.card {
		position: relative;
		border-radius: 2px;
		width: 98%;
		left: 0;
		right: 0;
		margin: 0 auto;
		transition: all 0.1s;
		transition-timing-function:  ease-in;
		overflow: hidden;
		.profilePlaceholder {
			overflow: hidden;
			margin-bottom: 15px;
			.avatar {
				float: left;
			}
			.profileText {
				float: left;
				padding-left: 20px;
				.profileTitle {
					font-size: 14px;
					font-weight: bold;
				}
				.messageTime {
					font-size: 12px;
					color: #444444;
				}
			}
		}
		.messageContent {
			overflow: hidden;
			position: relative;
			max-height: 5.6em;
		}
	}
}
.loaderCard {
	height: 150px;
	margin: 0 15px;
	margin-bottom: 10px;
	.profilePlaceholder {
		overflow: hidden;
    	margin-bottom: 15px;
	}
	.loaderAvatar {
		width: 40px;
	    height: 40px;
	    background-color: #e3e3e3;
	    border-radius: 50% 50%;
	    float: left;
	}
	.profileText {
		float: left;
	    overflow: hidden;
	    padding-left: 22px;
		.profileTitleLoader {
			width: 170px;
			height: 15px;
			background-color: #f0f0f0;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				left: -12px;
				width: 10%;
				height: 100%;
				background: #ffffff87;
				transform: skew(30deg);
				animation: load 0.6s infinite;
			}
		}
		.messageTimeLoader {
			width: 50px;
			height: 8px;
			background-color: #f1f1f1;
			margin-top: 10px;
		}
	}
		.messageContentLoader {
			width: 100%;
			height: 13px;
			background-color: #f1f1f1;
			margin-top: 10px;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				left: -12px;
				width: 10%;
				height: 100%;
				background: #ffffff87;
				transform: skew(30deg);
				animation: load 0.6s infinite;
			}
		}
}

.flat {
	.messageCard {
		margin: 0;
		padding: 0;

		.card {
			width: 100%;
			box-shadow: none;
			border-bottom: 1px solid #d0d0d0;
			border-radius: 0px;
		}
	}
	.loaderCard {
		height: 150px;
		margin: 0 15px;
		margin-bottom: 10px;
		width: 100%;
		margin: 0;
		border-radius: 0px!important;
		box-shadow: none!important;
		border-bottom: 1px solid #e2e2e2;
	}
}

@keyframes load {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

/* Mobile behvaiour */
@media only screen and (max-width: 600px) {
    .messageCard {
		.card {
			width: 92%;
		}
	}
}