.messageToast {
	position: fixed;
    bottom: 0px;
    height: 50px;
    background-color: rgba(39, 39, 39, 0.9);
    padding: 0px 15px;
    margin: 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: Roboto, arial;
    font-size: 14px;
    font-weight: normal;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    overflow: hidden;
    transition: height 0.2s;
    z-index: 1;
    .title {
    	color: white;
    }
    .action {
    	color: gold;
     	margin-right: 0px;
        cursor: pointer;
    }
}