.toolbar {
	padding-left: 15px!important;
	padding-right: 15px!important;
    justify-content: space-between;
    flex-direction: row-reverse;
}

/* Mobile behvaiour */
@media only screen and (max-width: 600px) {
    .toolbar {
    	justify-content: left;
    	flex-direction: row;
    	.headerIcon {
	    	span {
                &:first-child {
                    justify-content: left;
                }
                &:last-child {
                    left: -12px;
                }
	    	}
    	}
    }
}